body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 30px;
    color: white;
}

.nav-left, .nav-right{
    display: flex;
    gap: 20px;
}

.nav-left a, .nav-right a{
    color: white;
    text-decoration: none;
    font-weight: 500;
} 

.nav-left a:hover, .nav-right a:hover{
    color: #00bcd4;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
}

.social-icons a{
    margin-left: 10px;
    color: white;
}

.social-icons a:hover{
    color: #00bcd4;
}

