body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    line-height: 1.7;
    color: #333;
}

section{
    padding: 60px 20px;
    margin-bottom: 40px;
}

/* navigation bar styles */
.navbar{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
    color: black;
}

.nav-left, .nav-right{
    display: flex;
    gap: 20px;
    flex: 1;
    align-items: center;
}

.nav-left{
    justify-content: flex-start;
}

.nav-right{
    justify-content: flex-end;
}

.nav-left a, .nav-right a{
    color: black;
    text-decoration: none;
    font-weight: 500;
} 

.nav-left a:hover, .nav-right a:hover{
    color: #00bcd4;
}

/* Dropdown for Event */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    user-select: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 1000;
    margin-top: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
    color: #00bcd4;
}

.dropdown.active .dropdown-content {
    display: block;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
}

.logo img{
  height: 100px;
  display: block;
  margin: 0 auto;
}

.social-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.social-icon {
    font-size: 28px;
    color: black;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a i {
    font-size: 22px;
    margin-left: 15px;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover .fa-instagram {
    color: #e1306c;
}

.social-icons a:hover .fa-facebook-f {
    color: #1877f2;
}

.social-icons a:hover .fa-youtube {
    color: #ff0000;
}

.social-icons a:hover .fa-whatsapp {
    color: #25D366;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.social-icon i {
    display: block;
}

/* slide show: announcements section */
.hero{
    background-color: #2c3e50;

}

.slideshow-container {
    max-width: 100%;
    height: 700px;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
    
}

.slide img{
    width: 100%;
    max-height: 700px;
    object-fit: contain;
}

.slide{
    display: none;
}

.fade{
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 12px;
    color: white;
    font-size: 24px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    user-select: none;
    transform: translateY(-50%);
}

.prev { left: 15px; }
.next { right: 15px; }

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.8);
}

/* dots */
.dots {
    text-align: center;
    margin-top: 12px;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #0077cc;
}

/* latest announcement  */
.announcement {
    background-color: #ffffff;
    text-align: center;
    
}

.announcement h2{
    font-family: 'Orbitron', sans-serif;
}

.announcement-list{
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.announcement-card{
    background-color: #2c3e50;
    /* background: #f9f9f9; */
    width: 280px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8PX rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.announcement-card:hover{
    transform: translateY(-6px);
    background-color: #3b546d;
}

.announcement-card h3{
    margin-top: 10px;
}

.announcement-date{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #c5c5c5;
}

/*events section*/
.events {
  background: #ffffff;
  padding: 40px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

/*highlights section*/
.highlights {
    padding: 60px 20px;
    text-align: center;
    background-color: white;
}

.highlights h2{
    font-family: 'Orbitron', sans-serif;
}
.highlight-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.highlight-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 280px;
    padding: 20px;
    transition: transform 0.4s ease, box-shadow 0.4 ease;
}

.highlight-card img {
    width: 100%;
    border-radius: 6px;
}

.highlight-card h3 {
    margin: 15px 0 10px;
}

.highlight-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* event call to action section */
.events{
    background-image: url("calendar.jpg"); /* your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    color: white;
    padding: 60px 0;
    text-align: center;
    position: relative;

}

.events::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.events * {
    position: relative;
    z-index: 1;
}

.events iframe {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.event-cta{
    background-color: white;
    color: #333;
    text-align: center;
    padding: 60px 20px;
}

.event-cta h2{
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}

.event-cta p{
    margin-bottom: 20px;
}

.event-btn{
    background-color: #0077cc;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'Orbitron', sans-serif;
    display: inline-block;
    margin-top: 20px;
    margin: 30px auto 0;
}

.event-btn:hover{
    background-color: #005fa3;
}

/* button up */
#backToTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9999;

  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;

  background-color: #0d6efd;
  color: white;
  font-size: 20px;
  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);

  /* hidden state */
  opacity: 0;
  pointer-events: none;

  /* smooth fade */
  transition: opacity 0.4s ease;
}



/*footer section*/
.footer {
  background: #cce0f5;
  color: #2c2834;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container div {
  flex: 1;
  margin: 10px;
}

.footer a {
  color: #3422fb;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;
}
.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

