body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    line-height: 1.7;
    color: #333;
}

section{
    padding: 60px 20px;
    margin-bottom: 40px;
}

/* navigation bar styles */
.navbar{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
    color: black;
}

.nav-left, .nav-right{
    display: flex;
    gap: 20px;
}

.nav-left a, .nav-right a{
    color: black;
    text-decoration: none;
    font-weight: 500;
} 

.nav-left a:hover, .nav-right a:hover{
    color: #00bcd4;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
}

.social-icons a{
    margin-left: 10px;
    color: black;
}

.social-icons a:hover{
    color: #00bcd4;
}

/* slide show: announcements section */
.hero{
    background-color: #f5f5f5;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.slide{
    display: none;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*quick links section*/
/* .quick-links {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.btn{
    background-color: #0077cc;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: #005fa3;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
} */

/*events section*/
.events {
  background: #f9f9f9;
  padding: 40px;
  text-align: center;
}

/*highlights section*/
.highlights {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.highlight-grid {
        display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.highlight-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 280px;
    padding: 20px;
}

.highlight-card img {
    width: 100%;
    border-radius: 6px;
}

.highlight-card h3 {
    margin: 15px 0 10px;
}

/*footer section*/
.footer {
    background-color: #636262;
    color: white;
    padding: 40px 20px;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-container div{
    flex: 1;
    margin: 10px;
}

.footer a{
    color: #00bcd4;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.footer-bottom{
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
}