.secretariat-form input[type="radio"]{
    margin-right: 8px;
}

.secretariat-form label{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-bottom: 6px;
    display: inline-block;
}